        <div class="row">
           
            <div class="top-space col-sm-5 col-sm-push-7" ng-controller="LoginController">
                <form novalidate ng-controller="LoginController" name="LoginForm">
                    <div class="form-group ">
                        <label for="SignIn" class="font-increase">Sign In</label>
                    </div>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" name="username" placeholder="Username" ng-model="loginUser.username" required>
                        <div ng-show="LoginForm.$submitted || LoginForm.username.$touched">
                            <div ng-show="LoginForm.username.$error.required">Enter Username !!</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Password" ng-model="loginUser.password" required>
                        <div ng-show="LoginForm.$submitted || LoginForm.password.$touched">
                            <div ng-show="LoginForm.password.$error.required">Enter Password !!</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success" ng-click="loginInit(loginUser)" ng-disabled="LoginForm.$invalid">Submit</button>
                    </div>
                    <div class="form-group">
                        <label for="registerNow"><a href="#/register">Register Now</a></label> /
                        <label for="forgotPassword"><a href="#/forgotPassword">Forgot Password</a></label>
                    </div>
                </form>
            </div>

            <div class="top-space col-sm-7 col-sm-pull-5">
                Using color to add meaning only provides a visual indication, which will not be conveyed to users of assistive technologies – such as screen readers. Ensure that information denoted by the color is either obvious from the content itself (the contextual colors are only used to reinforce meaning that is already present in the text/markup), or is included through alternative means, such as additional text hidden with the .sr-only class.
            </div>
        </div>
<!--// browser-sync start --server --files "css/*.css, js/*.js, index.html" -->